{%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign color_white_label = 'general.label.white' | t | downcase -%}
{%- assign size_label_list = 'general.label.size' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id -%}

<div class="product-form VINTAGE__PRODUCT">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      APP BLOCK TYPE
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when '@app' -%}
        {%- render block -%}

    {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      FAQ's BLOCK TYPE
      ----------------------------------------------------------------------------------------------------------------      
    {%- endcomment -%}  
    {%- when 'FAQs' -%}
         <div class="faq">  
          {%- if section.settings.show_navigation and categories.size > 0 -%}
            <div class="faq-navigation hidden-pocket">
              <scroll-spy class="scroll-spy">
                <ul class="scroll-spy__list list--unstyled">
                  {%- for category in categories -%}
                    <li class="scroll-spy__item">
                      <a class="scroll-spy__anchor heading heading--small" href="#category-{{ section.id }}-{{ category.id }}" data-smooth-scroll>{{ category.settings.title | escape }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              </scroll-spy>
            </div>
          {%- endif -%}

          <div class="faq__wrapper" itemscope itemtype="https://schema.org/FAQPage"> 
                  <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"> 
                    <div class="faq__Data">
                    <button is="toggle-button" class="collapsible-toggle text--strong" aria-controls="faq-1" aria-expanded="false" itemprop="name">
                      {{product.metafields.custom.product_info_label}}
                    <span class="SVG__icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="8.469" height="15.768" viewBox="0 0 8.469 15.768"><path id="Icon_metro-chevron-thin-right" data-name="Icon metro-chevron-thin-right" d="M18.442,11.585l-6.573-6.8a.637.637,0,0,1,0-.9.629.629,0,0,1,.892,0l7.207,7.25a.637.637,0,0,1,0,.9l-7.207,7.25a.628.628,0,0,1-.892,0,.637.637,0,0,1,0-.9l6.573-6.8Z" transform="translate(-11.683 -3.7)" fill="#4d4d4d"/></svg>
                      </span>
                    </button>

                    <collapsible-content id="faq-1" class="collapsible anchor" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" {{ block.shopify_attributes }}>
                      <div class="collapsible__content text-container" itemprop="text">
                      <div class="TopHeading-PI">
                          <div class="PI_item">{{block.settings.PI_text_1}}</div>
                          <div class="PI_item">{{block.settings.PI_text_2}}</div>
                      </div>
  
                        <div class="product-specification">
                        <div class="PI--datas">
                        {% if block.settings.ps-t-11 !=blank %}
                         <div class="ps-is">{{block.settings.ps-t-1}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-22 !=blank %}
                         <div class="ps-is">{{block.settings.ps-t-2}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-33 !=blank %}
                         <div class="ps-is">{{block.settings.ps-t-3}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-44 !=blank %}
                         <div class="ps-is">{{block.settings.ps-t-4}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-55 !=blank %}
                         <div class="ps-is">{{block.settings.ps-t-5}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-66 !=blank %}
                         <div class="ps-is">{{block.settings.ps-t-6}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-77 !=blank %}
                         <div class="ps-is">{{block.settings.ps-t-7}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-88 !=blank %}
                         <div class="ps-is">{{block.settings.ps-t-8}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-99 !=blank %}
                         <div class="ps-is">{{block.settings.ps-t-9}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-100 !=blank %}
                         <div class="ps-is">{{block.settings.ps-t-10}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-111 !=blank %}
                          <div class="ps-is">{{block.settings.ps-t-101}}</div>
                          {% endif %}
                        </div>

                        <div class="PI--datas-2"> 
      
                        {% if block.settings.ps-t-11 !=blank %}
                         <div class="ps-is-2">{{block.settings.ps-t-11}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-22 !=blank %}
                         <div class="ps-is-2">{{block.settings.ps-t-22}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-33 !=blank %}
                         <div class="ps-is-2">{{block.settings.ps-t-33}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-44 !=blank %}
                         <div class="ps-is-2">{{block.settings.ps-t-44}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-55 !=blank %}
                         <div class="ps-is-2">{{block.settings.ps-t-55}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-66 !=blank %}
                         <div class="ps-is-2">{{block.settings.ps-t-66}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-77 !=blank %}
                         <div class="ps-is-2">{{block.settings.ps-t-77}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-88 !=blank %}
                         <div class="ps-is-2">{{block.settings.ps-t-88}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-99 !=blank %}
                         <div class="ps-is-2">{{block.settings.ps-t-99}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-100 !=blank %}
                         <div class="ps-is-2">{{block.settings.ps-t-100}}</div>
                        {% endif %}
      
                        {% if block.settings.ps-t-111 !=blank %}
                          <div class="ps-is-2">{{block.settings.ps-t-111}}</div>
                          {% endif %}
                        </div>

      
                        </div>

      
                      </div>
                    </collapsible-content> 
                    </div>
                    
                    {% if block.settings.gift_wrap_heading != blank %}
                      <div class="faq__Data">
                        <button is="toggle-button" class="collapsible-toggle text--strong" aria-controls="faq-2" aria-expanded="false" itemprop="name">
                          {{ block.settings.gift_wrap_heading }}
                          <span class="SVG__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.469" height="15.768" viewBox="0 0 8.469 15.768"><path id="Icon_metro-chevron-thin-right" data-name="Icon metro-chevron-thin-right" d="M18.442,11.585l-6.573-6.8a.637.637,0,0,1,0-.9.629.629,0,0,1,.892,0l7.207,7.25a.637.637,0,0,1,0,.9l-7.207,7.25a.628.628,0,0,1-.892,0,.637.637,0,0,1,0-.9l6.573-6.8Z" transform="translate(-11.683 -3.7)" fill="#4d4d4d"/></svg>
                          </span>
                        </button>

                        <collapsible-content id="faq-2" class="collapsible anchor" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" {{ block.shopify_attributes }}>
                          <div class="collapsible__content text-container" itemprop="text">
                            {{ block.settings.gift_wrap_text }}
                          </div>
                        </collapsible-content> 
                      </div>
                    {% endif %}
                    
                    {% if block.settings.shipping_heading != blank %}
                      <div class="faq__Data">
                        <button is="toggle-button" class="collapsible-toggle text--strong" aria-controls="faq-3" aria-expanded="false" itemprop="name">
                          {{ block.settings.shipping_heading }}
                          <span class="SVG__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.469" height="15.768" viewBox="0 0 8.469 15.768"><path id="Icon_metro-chevron-thin-right" data-name="Icon metro-chevron-thin-right" d="M18.442,11.585l-6.573-6.8a.637.637,0,0,1,0-.9.629.629,0,0,1,.892,0l7.207,7.25a.637.637,0,0,1,0,.9l-7.207,7.25a.628.628,0,0,1-.892,0,.637.637,0,0,1,0-.9l6.573-6.8Z" transform="translate(-11.683 -3.7)" fill="#4d4d4d"/></svg>
                          </span>
                        </button>

                        <collapsible-content id="faq-3" class="collapsible anchor" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" {{ block.shopify_attributes }}>
                          <div class="collapsible__content text-container" itemprop="text">
                            {{ block.settings.shipping_text }}
                          </div>
                        </collapsible-content> 
                      </div>
                    {% endif %}

                    {% if block.settings.warranty_heading != blank %}
                      <div class="faq__Data">
                        <button is="toggle-button" class="collapsible-toggle text--strong" aria-controls="faq-4" aria-expanded="false" itemprop="name">
                          {{ block.settings.warranty_heading }}
                          <span class="SVG__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.469" height="15.768" viewBox="0 0 8.469 15.768"><path id="Icon_metro-chevron-thin-right" data-name="Icon metro-chevron-thin-right" d="M18.442,11.585l-6.573-6.8a.637.637,0,0,1,0-.9.629.629,0,0,1,.892,0l7.207,7.25a.637.637,0,0,1,0,.9l-7.207,7.25a.628.628,0,0,1-.892,0,.637.637,0,0,1,0-.9l6.573-6.8Z" transform="translate(-11.683 -3.7)" fill="#4d4d4d"/></svg>
                          </span>
                        </button>

                        <collapsible-content id="faq-4" class="collapsible anchor" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" {{ block.shopify_attributes }}>
                          <div class="collapsible__content text-container" itemprop="text">
                            {{ block.settings.warranty_text }}
                          </div>
                        </collapsible-content> 
                      </div>
                    {% endif %}
            </div>  
          </div> 
      <style>
          .product-form.VINTAGE__PRODUCT .faq .faq__wrapper > .faq__item {
            background: {{block.settings.FAQ_sec_BGcolor}}; 
          }
          .product-form.VINTAGE__PRODUCT .faq .faq__wrapper > .faq__item button.collapsible-toggle {
            background: {{block.settings.faq_BTN_bgCOlor}}; 
          }
      </style>
        </div>
      

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      VARIANT PICKER BLOCK TYPE
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'variant_picker' -%}
        {%- unless product.has_only_default_variant or block.settings.hide_sold_out_variants and product.available == false -%}
          {%- assign size_chart_page = block.settings.size_chart_page -%}
          {%- assign found_size_option = false -%}

          <product-variants handle="{{ product.handle }}" form-id="{{ product_form_id }}" {% if update_url %}update-url{% endif %} {% if block.settings.hide_sold_out_variants %}hide-sold-out-variants{% endif %} class="product-form__variants" {{ block.shopify_attributes }}>
            {%- for option in product.options_with_values -%}
              {%- assign option_downcase = option.name | downcase -%}
              {%- capture option_id -%}option-{{ section.id }}-{{ template.suffix }}-{{ product.id }}-{{ forloop.index }}{%- endcapture -%}

              {%- assign selector_type = block.settings.selector_mode -%}

              {% if color_label_list contains option_downcase %}
                {%- assign selector_type = block.settings.color_mode -%}

                {%- if selector_type == 'variant_image' -%}
                  {%- comment -%}To use this mode every variant must have an attached media{%- endcomment -%}
                  {%- for variant in product.variants -%}
                    {%- unless variant.featured_media -%}
                      {%- assign selector_type = 'color' -%}
                      {%- break -%}
                    {%- endunless -%}
                  {%- endfor -%}
                {%- endif -%}
              {%- endif -%}

              <div class="product-form__option-selector OPTION__VARIANTS--{{ option.name }}" data-selector-type="{{ selector_type | replace: '_', '-' | escape }}">
                <div class="product-form__option-info">
                  <span class="product-form__option-name">{{ option.name }}:  </span>

                  {%- if selector_type != 'dropdown' -%}
                    <span id="{{ option_id }}-value" class="product-form__option-value">{{ option.selected_value }}</span>
                  {%- endif -%}

                  {%- if size_chart_page != blank and size_label_list contains option_downcase -%}
                    {%- assign found_size_option = true -%}
                    <button type="button" is="toggle-button" class="aa product-form__option-link link text--subdued hidden-phone" aria-controls="product-{{ section.id }}-{{ product.id }}-size-chart-drawer" aria-expanded="false">Size guide</button>
                    <button type="button" is="toggle-button" class="bb product-form__option-link link text--subdued hidden-tablet-and-up" aria-controls="product-{{ section.id }}-{{ product.id }}-size-chart-popover" aria-expanded="false">Size guide</button>
                  {%- endif -%}
                </div>

                {%- case selector_type -%}
                  {%- when 'variant_image' -%}
                    <div class="variant-swatch-list">
                      {%- assign option_position0 = option.position | minus: 1 -%}

                      {%- for value in option.values -%}
                        {%- comment -%}We search for the first variant that has an image for this color{%- endcomment -%}
                        {%- for variant in product.variants -%}
                          {%- if variant.options[option_position0] == value -%}
                            <div class="variant-swatch">
                              <input class="variant-swatch__radio visually-hidden" type="radio" name="option{{ option.position }}" form="{{ product_form_id }}" id="{{ option_id }}-{{ forloop.index }}" value="{{ value | escape }}" data-bind-value="{{ option_id }}-value" {% if value == option.selected_value %}checked="checked"{% endif %} aria-label="{{ value | escape }}">
                              <label class="variant-swatch__item" for="{{ option_id }}-{{ forloop.index }}">
                                <span class="visually-hidden">{{ value }}</span>
                                <img class="variant-swatch__image" loading="lazy" sizes="(max-width: 740px) 64px, 72px" {% render 'image-attributes', image: variant.featured_media, sizes: '64,72,128,144,192,216' %}>
                              </label>
                            </div>
                            {%- break -%}
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endfor -%}
                    </div>

                  {%- when 'color' -%}
                    <div class="color-swatch-list">
                      {%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}

                      {%- for value in option.values -%}
                        {%- assign color_value_downcase = value | downcase -%}

                        <div class="color-swatch {% if color_white_label == color_value_downcase %}color-swatch--white{% endif %}">
                          <input class="color-swatch__radio visually-hidden" type="radio" name="option{{ option.position }}" form="{{ product_form_id }}" id="{{ option_id }}-{{ forloop.index }}" value="{{ value | escape }}" {% if value == option.selected_value %}checked="checked"{% endif %} data-bind-value="{{ option_id }}-value">
                          <label class="color-swatch__item" for="{{ option_id }}-{{ forloop.index }}" style="{% render 'color-swatch-style', color_swatch_config: color_swatch_config, value: value %}">
                            <span class="visually-hidden">{{ value }}</span>
                          </label>
                        </div>
                      {%- endfor -%}
                    </div>

                  {%- when 'block' -%}
                    <div class="block-swatch-list">
                      {%- for value in option.values -%}
                        <div class="block-swatch">
                          <input class="block-swatch__radio visually-hidden" type="radio" name="option{{ option.position }}" form="{{ product_form_id }}" id="{{ option_id }}-{{ forloop.index }}" value="{{ value | escape }}" {% if value == option.selected_value %}checked="checked"{% endif %} data-bind-value="{{ option_id }}-value">
                          <label class="block-swatch__item" for="{{ option_id }}-{{ forloop.index }}">{{ value }}</label>
                        </div>
                      {%- endfor -%}
                    </div>

                  {%- when 'dropdown' -%} 
                   

                    <div class="select-wrapper">
                      <combo-box initial-focus-selector="[aria-selected='true']" id="{{ option_id }}-combo-box" class="combo-box  {% if size_label_list contains option_downcase %} combo-box-size {% endif %}" {% if size_label_list contains option_downcase %} data-optionsize="{{ forloop.index }}"{% endif %}>
                        <span class="combo-box__overlay"></span>

                        <header class="combo-box__header">
                          <p class="combo-box__title heading h6">{{ option.name }}</p>

                          <button type="button" class="combo-box__close-button tap-area" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
                            {%- render 'icon' with 'close' -%}
                          </button>
                        </header>

                        <div class="combo-box__option-list yuiop" role="listbox">
                          {%- for value in option.values -%}
                            <button type="button" role="option" 
                             class="combo-box__option-item" value="{{ value | escape }}" 
                             aria-selected="{% if value == option.selected_value %}true{% else %}false{% endif %}">
                             <span>{{ value }}</span>
                            </button>
                          {%- endfor -%}
                  
                        </div>

                        <select class="visually-hidden" name="option{{ option.position }}" form="{{ product_form_id }}" data-bind-value="{{ option_id }}-value" aria-label="{{ option.name | escape }}">
                          {%- for value in option.values -%}
                           
                           
                             <option value="{{ value | escape }}" {% if value == option.selected_value %}selected{% endif %}>{{ value }}</option>
                          
                          {%- endfor -%}
                        </select>
                      </combo-box>

                      <button type="button" is="toggle-button" class="mjkloip select" aria-expanded="false" aria-haspopup="listbox" aria-controls="{{ option_id }}-combo-box">
                        <span id="{{ option_id }}-value" class="select__selected-value">
                           {% if size_label_list contains option_downcase %}
                              <span>Choose Size</span>
                           {% else %}  
                              <span class="weweew">{{ option.selected_value }}</span>
                           {% endif %}  
                         
                          
                        </span>
                        {%- render 'icon' with 'chevron' -%}
                      </button> 
                   {% if product.template_suffix == 'Vintage__Collection' %}
                      <div class="VintageCOLLECTIONS-item">Only a few left</div>
                  {% endif %} 
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}

            <noscript>
              <label class="input__block-label" for="product-select-{{ section.id }}-{{ product.id }}">{{ 'product.form.variant' | t }}</label>

              <div class="select-wrapper">
                <select class="select" autocomplete="off" id="product-select-{{ section.id }}-{{ product.id }}" name="id" form="{{ product_form_id }}">
                  {%- for variant in product.variants -%}
                    <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                  {%- endfor -%}
                </select>

                {%- render 'icon' with 'chevron' -%}
              </div>
            </noscript>
          </product-variants>
        {%- endunless -%}
      
      <div class="Estimated__TIME"   {% if product.template_suffix == 'Vintage__Collection' %}style="display: none;"{% endif %}>  
        <img src="//cdn.shopify.com/s/files/1/0579/6501/9195/files/icon_clock_small.png?v=1673043810" alt="" class="{%-liquid 
              assign product_variant = product.selected_or_first_available_variant
              if product_variant.available and product_variant.inventory_quantity <= 0
                echo block.settings.add_estimated_time
              else if product_variant.available and product_variant.inventory_quantity > 0 and product_variant.inventory_quantity <= 2
                echo 'Only a few left'
              else
              echo  'In Stock'
              endif
         
         %}">

      {%- if block.settings.add_estimated_time != blank -%}
      <div class="ET__Description  {%-liquid 
              assign product_variant = product.selected_or_first_available_variant
              if product_variant.available and product_variant.inventory_quantity <= 0
                echo block.settings.add_estimated_time
              else if product_variant.available and product_variant.inventory_quantity > 0 and product_variant.inventory_quantity <= 2
                echo 'Only a few left'
              else
              echo  'In Stock'
              endif
         
         %}" data-text="{{ block.settings.add_estimated_time  }}">
         {%-liquid 
              assign product_variant = product.selected_or_first_available_variant
              if product_variant.available and product_variant.inventory_quantity <= 0
                echo block.settings.add_estimated_time
              else if product_variant.available and product_variant.inventory_quantity > 0 and product_variant.inventory_quantity <= 2
                echo 'Only a few left'
              else
              echo  'In Stock'
              endif
         
         %}</div>
      {% endif %}   
      </div>

   
      

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      LINE ITEM PROPERTY
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'line_item_property' -%}
        {%- if block.settings.label != blank -%}
          {%- case block.settings.type -%}
            {%- when 'text' -%}
              {%- if block.settings.allow_long_text -%}
                <div class="product-form__line-item-property" {{ block.shopify_attributes }}>
                  <label class="input__block-label" for="line-item-{{ section.id }}-{{ block.id }}">{{ block.settings.label | escape }}:</label>
                  <textarea {% if block.settings.required %}required{% endif %} id="line-item-{{ section.id }}-{{ block.id }}" form="{{ product_form_id }}" class="input__field input__field--textarea" name="properties[{{ block.settings.label | escape }}]"></textarea>
                </div>
              {% else %}
                <div class="product-form__line-item-property" {{ block.shopify_attributes }}>
                  <label class="input__block-label" for="line-item-{{ section.id }}-{{ block.id }}">{{ block.settings.label | escape }}:</label>
                  <input {% if block.settings.required %}required{% endif %} id="line-item-{{ section.id }}-{{ block.id }}" form="{{ product_form_id }}" type="text" class="input__field" name="properties[{{ block.settings.label | escape }}]">
                </div>
              {%- endif -%}

            {%- when 'checkbox' -%}
              <div class="product-form__line-item-property" {{ block.shopify_attributes }}>
                <div class="checkbox-container">
                  <input type="hidden" form="{{ product_form_id }}" class="checkbox" name="properties[{{ block.settings.label | escape }}]" value="{{ block.settings.unchecked_value | escape }}">
                  <input type="checkbox" form="{{ product_form_id }}" class="checkbox" name="properties[{{ block.settings.label | escape }}]" id="line-item-{{ section.id }}-{{ block.id }}" value="{{ block.settings.checked_value | escape }}">
                  <label for="line-item-{{ section.id }}-{{ block.id }}">{{ block.settings.label | escape }}</label>
                </div>
              </div>
          {%- endcase -%}
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      TEXT
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'text' -%}
        {% if block.settings.text != blank %}
          <div class="product-form__text" {{ block.shopify_attributes }}>
            {{- block.settings.text -}}
          </div>
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      IMAGE
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'image' -%}
      {% if block.settings.image != blank %}
        <div class="product-form__image product-form__image--{{ block.settings.image_alignment }}" {{ block.shopify_attributes }}>
           <div class="imgtextsss">Pay safe with</div>
        {%- capture image_sizes -%}{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 }}, {{ block.settings.image_width | times: 3 }}{%- endcapture -%}
          <img  style="max-width: {{ block.settings.image_width }}%" {% render 'image-attributes', image: block.settings.image, sizes: 100% %}>
        </div>
      {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      BUTTON
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'button' -%}
        {% if block.settings.link != blank and block.settings.text != blank %}
          <div class="product-form__button" {{ block.shopify_attributes }}>
            {%- if block.settings.background == 'rgba(0,0,0,0)' -%}
              {%- assign button_background = settings.primary_button_background -%}
            {%- else -%}
              {%- assign button_background = block.settings.background -%}
            {%- endif -%}

            {%- if block.settings.text_color == 'rgba(0,0,0,0)' -%}
              {%- assign button_text_color = settings.primary_button_text_color -%}
            {%- else -%}
              {%- assign button_text_color = block.settings.text_color -%}
            {%- endif -%}

            {%- capture button_background_rgb -%}{{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }}{%- endcapture -%}
            {%- capture button_text_color_rgb -%}{{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }}{%- endcapture -%}

            <a href="{{ block.settings.link }}" class="button button--primary {% if block.settings.stretch %}button--full{% endif %}" style="--primary-button-background: {{ button_background_rgb }}; --primary-button-text-color: {{ button_text_color_rgb }}">{{ block.settings.text | escape }}</a>
          </div>
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      CUSTOM LIQUID
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'liquid' -%}
        {% if block.settings.liquid != blank %}
          <div class="product-form__custom-liquid" {{ block.shopify_attributes }}>
            {{- block.settings.liquid -}}
          </div>
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      QUANTITY SELECTOR
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'quantity_selector' -%}
        {%- if request.page_type != 'password' and product.available -%}
          <div class="product-form__quantity" {{ block.shopify_attributes }}>
            <span class="product-form__quantity-label">{{ 'product.form.quantity' | t }}:</span>

            <quantity-selector class="quantity-selector">
              <button type="button" class="quantity-selector__button">
                <span class="visually-hidden">{{ 'cart.general.decrease_quantity' | t }}</span>
                {%- render 'icon' with 'minus-big' -%}
              </button>

              <input type="text" form="{{ product_form_id }}" is="input-number" class="quantity-selector__input" inputmode="numeric" name="quantity" autocomplete="off" min="1" value="1" size="2" aria-label="{{ 'product.form.quantity' | t | escape }}">

              <button type="button" class="quantity-selector__button">
                <span class="visually-hidden">{{ 'cart.general.increase_quantity' | t }}</span>
                {%- render 'icon' with 'plus-big' -%}
              </button>
            </quantity-selector>
          </div>
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      PRODUCT DESCRIPTION
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'description' -%}
        {%- if product.description != blank -%}
          <div id="Vintage--Product__Description"> 
          <div class="product-form__description rte" {{ block.shopify_attributes }}>
            {{- product.description -}}
          </div>
          <div class="Read__More__BTN rbb">read more</div>
          <div class="Read__Less__BTN rbb">read less</div>
          </div>
 
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      INVENTORY
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'inventory' -%}
        {%- if product.template_suffix != 'pre-order' and product.available or product.selected_or_first_available_variant.incoming -%}
          <product-inventory form-id="{{ product_form_id }}" {% unless product.selected_or_first_available_variant.available or product.selected_or_first_available_variant.incoming %}hidden{% endunless %} class="product-form__inventory-wrapper" {{ block.shopify_attributes }}>
            {%- if product.selected_or_first_available_variant.available -%}
              {%- if product.selected_or_first_available_variant.inventory_management and product.selected_or_first_available_variant.inventory_policy == 'deny' and product.selected_or_first_available_variant.inventory_quantity <= block.settings.low_inventory_threshold and block.settings.low_inventory_threshold > 0 -%}
                <span class="inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count: product.selected_or_first_available_variant.inventory_quantity }}</span>
              {%- else -%}
                {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' and product.selected_or_first_available_variant.inventory_quantity <= 0 and product.selected_or_first_available_variant.requires_shipping -%}
                  {%- if product.selected_or_first_available_variant.incoming and product.selected_or_first_available_variant.next_incoming_date -%}
                    {%- capture next_incoming_date -%}{{ product.selected_or_first_available_variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                    <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}</span>
                  {%- else -%}
                    <span class="inventory inventory--low">{{ 'product.form.oversell_stock' | t }}</span>
                  {%- endif -%}
                {%- else -%}
                  <span class="inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
                {%- endif -%}
              {%- endif -%}
            {%- elsif product.selected_or_first_available_variant.incoming -%}
              {%- if product.selected_or_first_available_variant.next_incoming_date -%}
                {%- capture next_incoming_date -%}{{ product.selected_or_first_available_variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}</span>
              {%- else -%}
                <span class="inventory inventory--low">{{ 'product.form.oversell_stock' | t }}</span>
              {%- endif -%}
            {%- endif -%}

            <script type="application/json">
              {
                {%- for variant in product.variants -%}
                  {%- capture inventory_message -%}
                    {%- if variant.available -%}
                      {%- if variant.inventory_management and variant.inventory_policy == 'deny' and variant.inventory_quantity <= block.settings.low_inventory_threshold and block.settings.low_inventory_threshold > 0 -%}
                        <span class="inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count: variant.inventory_quantity }}</span>
                      {%- else -%}
                        {%- if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 and variant.requires_shipping -%}
                          {%- if variant.incoming and variant.next_incoming_date -%}
                            {%- capture next_incoming_date -%}{{ variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                            <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}</span>
                          {%- else -%}
                            <span class="inventory inventory--low">{{ 'product.form.oversell_stock' | t }}</span>
                          {%- endif -%}
                        {%- else -%}
                          <span class="inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    {%- elsif variant.incoming -%}
                      {%- if variant.next_incoming_date -%}
                        {%- capture next_incoming_date -%}{{ variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                        <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}</span>
                      {%- else -%}
                        <span class="inventory inventory--low">{{ 'product.form.oversell_stock' | t }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endcapture -%}

                  "{{ variant.id }}": {{ inventory_message | json }}{% unless forloop.last %},{% endunless %}
                {%- endfor -%}
              }
            </script>
          </product-inventory>
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      BUY BUTTONS
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'buy_buttons' -%}
        {%- if request.page_type != 'password' -%}
          <div class="product-form__buy-buttons" {{ block.shopify_attributes }}>
            {%- form 'product', product, is: 'product-form', id: product_form_id -%}
              <input type="hidden" disabled name="id" value="{{ product.selected_or_first_available_variant.id }}">

              <product-payment-container form-id="{{ product_form_id }}" {% if update_url %}id="MainPaymentContainer"{% endif %} class="product-form__payment-container" {{ block.shopify_attributes }}>
                <button disabled="disabled" id="AddToCart" type="submit" is="loader-button" {% unless block.settings.show_payment_button and template.suffix != 'quick-buy-popover' %}data-use-primary{% endunless %} data-product-add-to-cart-button data-button-content="{% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | escape }}{% else %}{{ 'product.form.add_to_cart' | t | escape }}{% endif %}" class="product-form__add-button button {% unless product.selected_or_first_available_variant.available %}button--ternary{% else %}{% if block.settings.show_payment_button and template.suffix != 'quick-buy-popover' %}button--secondary{% else %}button--primary{% endif %}{% endunless %} button--full" {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}>
                  {%- if product.selected_or_first_available_variant.available -%}
                    {%- if product.template_suffix == 'pre-order' -%}
                      {{- 'product.form.pre_order' | t -}}
                    {%- else -%}
                      {{- 'product.form.add_to_cart' | t -}}
                    {%- endif -%}
                  {%- else -%}
                    {{- 'product.form.sold_out' | t -}}
                  {%- endif -%}
                </button>

                {%- if block.settings.show_payment_button and template.suffix != 'quick-buy-popover' -%}
                  {{ form | payment_button }}

                  {%- unless product.selected_or_first_available_variant.available -%}
                    <style>
                      #shopify-section-{{ section.id }} .shopify-payment-button {
                        display: none;
                      }
                    </style>
                  {%- endunless -%}
                {%- endif -%}
              </product-payment-container>
              {% comment %}
                <div class="Klarna__Payment">
                    {% if block.settings.kp-text != blank %}
                    <div class="KP--text">{{block.settings.kp-text}}</div>
                      <div class="KP--img">
                          {% if block.settings.kp-img != blank %}
                          <img src="{{block.settings.kp-img | img_url:'master'}}">
                          {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
              {% endcomment %}
            {%- endform -%}
          </div>
        {%- endif -%}

        {%- if template.suffix != 'quick-buy-popover' -%}
          <store-pickup form-id="{{ product_form_id }}" class="product-form__store-availability-container">
            {%- render 'store-availability', product_variant: product.selected_or_first_available_variant -%}
          </store-pickup>
        {%- endif -%}

        {% when 'product_text_slider' %}
          <product-text-slider class="product-text-slider">
            {% assign image_1 = block.settings.image_1 %}
            {% assign image_2 = block.settings.image_2 %}
            {% assign image_3 = block.settings.image_3 %}
            {% assign image_4 = block.settings.image_4 %}
            {% if block.settings.text_1 != blank or image_1 != blank %}
              <div class="slide">
                {% if image_1 != blank %}
                  <img src="{{ image_1 | img_url: 'master' }}" alt="{{ image_1.alt }}">
                {% endif %}
                {% if block.settings.text_1 != blank %}
                  <p>
                    {{ block.settings.text_1 }}
                    {% if block.settings.link_1 != blank %}
                      <a href="{{ block.settings.link_1 }}">Learn more</a>
                    {% endif %}
                  </p>
                {% endif %}
                </div>
            {% endif %}
            {% if block.settings.text_2 != blank or image_2 != blank %}
              <div class="slide">
                {% if image_2 != blank %}
                  <img src="{{ image_2 | img_url: 'master' }}" alt="{{ image_2.alt }}">
                {% endif %}
                {% if block.settings.text_2 != blank %}
                  <p>
                    {{ block.settings.text_2 }}
                    {% if block.settings.link_2 != blank %}
                      <a href="{{ block.settings.link_2 }}">Learn more</a>
                    {% endif %}
                  </p>
                {% endif %}
              </div>
            {% endif %}
            {% if block.settings.text_3 != blank or image_3 != blank %}
              <div class="slide">
                {% if image_3 != blank %}
                  <img src="{{ image_3 | img_url: 'master' }}" alt="{{ image_3.alt }}">
                {% endif %}
                {% if block.settings.text_3 != blank %}
                  <p>
                    {{ block.settings.text_3 }}
                    {% if block.settings.link_3 != blank %}
                      <a href="{{ block.settings.link_3 }}">Learn more</a>
                    {% endif %}
                  </p>
                {% endif %}
              </div>
            {% endif %}
            {% if block.settings.text_4 != blank or image_4 != blank %}
              <div class="slide">
                {% if image_4 != blank %}
                  <img src="{{ image_4 | img_url: 'master' }}" alt="{{ image_4.alt }}">
                {% endif %}
                {% if block.settings.text_4 != blank %}
                  <p>
                    {{ block.settings.text_4 }}
                    {% if block.settings.link_4 != blank %}
                      <a href="{{ block.settings.link_4 }}">Learn more</a>
                    {% endif %}
                  </p>
                {% endif %}
              </div>
            {% endif %}
          </product-text-slider>
    {%- endcase -%}
  {%- endfor -%}

  {%- comment -%}
  IMPLEMENTATION NOTE: under rare circumstances, merchant may want to show selectors but hide the add to cart button. This
  is however problematic as elements changed based on this. So if we detect there is no buy buttons block, we add an empty one
  {%- endcomment -%}

  {%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

  {%- if buy_buttons_block == blank -%}
    {%- form 'product', product, is: 'product-form', id: product_form_id -%}
      <input type="hidden" disabled name="id" value="{{ product.selected_or_first_available_variant.id }}">
    {%- endform -%}
  {%- endif -%}
</div>

{%- if template.suffix == 'quick-buy-drawer' -%}
  <div class="product-form__view-details">
    <a href="{{ product.url }}" class="link text--subdued">{{ 'product.general.view_details' | t }}</a>
  </div>
{%- endif -%}

{%- comment -%}
IMPLEMENTATION NOTE: if during the iteration of the options we have found an option matching a size chart, we add it here
{%- endcomment -%}

{%- if found_size_option and size_chart_page != blank -%}
  {%- comment -%}Drawer is for tablet and desktop{%- endcomment -%}
  <drawer-content id="product-{{ section.id }}-{{ product.id }}-size-chart-drawer" class="drawer drawer--large hidden-phone">
    <span class="drawer__overlay"></span>

    <header class="drawer__header">
      <p class="drawer__title heading h6">{{ size_chart_page.title }}</p>

      <button type="button" class="drawer__close-button tap-area" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div class="drawer__content drawer__content--padded-start">
      <div class="rte">
        {{- size_chart_page.content -}}
      </div>
    </div>
  </drawer-content>

  {%- comment -%}Popover is for mobile{%- endcomment -%}
  <popover-content id="product-{{ section.id }}-{{ product.id }}-size-chart-popover" class="popover hidden-lap-and-up">
    <span class="popover__overlay"></span>

    <header class="popover__header">
      <p class="popover__title heading h6">{{ size_chart_page.title }}</p>

      <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div class="popover__content">
      <div class="rte">
        {{- size_chart_page.content -}}
      </div>
    </div>
  </popover-content>
{%- endif -%}

 <script id="Product_inventory_json" type="application/json">
              {
                {%- for variant in product.variants -%}
                 

                  "{{ variant.id }}": {"inventory_quantity": {{ variant.inventory_quantity}},  "available":{{ variant.available }}   }
                                 {% unless forloop.last %},{% endunless %}
                {%- endfor -%}
              }
            </script>
